:root {
    --bgSite: #d7d4ff;
    --buttonColor: #846AFF;

    --white: #ffffff;
    --white300: #f9f9f9;

    --title: #2b2b2b;
    --text: #555555;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: Lato-Regular;
    src: url("../fontes/Lato-Regular.ttf") format(truetype);
}

@font-face {
    font-family: Merriweather-Bold;
    src: url("../fontes/Merriweather-Bold.ttf") format(truetype);
}

@font-face {
    font-family: Merriweather-Regular;
    src: url("../fontes/Merriweather-Regular.ttf") format(truetype);
}

body{
    font-family: Roboto, sans-serif;
    background-color: #F8F8FF;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 30px 20px;
    gap: 2.5em;
    /* border: 1px double blue; */


}
.header-text {
    /* border: 1px groove red; */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 45%;
}

.header-text p {
    line-height: 2.5rem;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
}
.text-highlight{
    color: var(--buttonColor);
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttonColor);
    color: white;
    border-radius: 4%;
    padding: 14px;
    width: 170px;
    height: 40px;
    line-height: 21px;
    font-weight: 700;
    cursor: pointer;

}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFFFFF;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 1rem;
    padding: 40px 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 2px;
    box-shadow: 0 4px 8px rgb(240, 240, 255,0.1),
                0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-grow: 1 ;
}

.card-text{
    padding: 5px 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 50px 50px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 250px;

}

input,
textarea {
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    width: 500px;

}

#submit {
    /* Aumenta a largura do botão para 100% */
    width: 500px;
    border-radius: 4px;
}

button:hover{
    background-color:#8a73fd;
}


/* Media query para dispositivos com largura máxima de 800px */
@media (max-width: 800px) {
    .header-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
    }
    .header-text{
        order: 2;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    #header-img {
        width: 350px;
        height: 380;
    }
    form,
    input,
    textarea,
    #submit {
        width: 100%;
    }
    footer{
        padding: 20px;
    }
    #contato{
        align-self: flex-start;
    }
}

@media (max-width: 600px) {

    .header-content{
        width: 100%;
        border: 1px solid black;
    }

}